vanguard/contracts/cot-event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="point">
          <xs:complexType>
            <xs:attribute name="lat" type="xs:decimal" use="required"/>
            <xs:attribute name="lon" type="xs:decimal" use="required"/>
            <xs:attribute name="hae" type="xs:decimal" use="required"/>
            <xs:attribute name="ce" type="xs:decimal" use="required"/>
            <xs:attribute name="le" type="xs:decimal" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="detail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="contact" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="callsign" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="uid" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="time" type="xs:string" use="required"/>
      <xs:attribute name="start" type="xs:string" use="required"/>
      <xs:attribute name="stale" type="xs:string" use="required"/>
      <xs:attribute name="how" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
